.app {
  min-height: 100%;
  display: flex;
  flex-direction: column;

  > header {
    margin-bottom: 10px;
  }
}

.button {
  display: flex;
  align-items: center;
  justify-content: right ;
  padding: 10px 25px;

  > span {
    font-size: 30px;
    line-height: 34px;
    color: rgba(102,170,238,0.91);
    font-weight: bold;
  }
}

@media (max-width: 525px) {
  header {
    display: flex;
    flex-direction: row; 
    justify-content: space-between; 
    align-items: center;
  }
}
